---
layout: global
---
<div class="panel panel-default">
	<div class="panel-heading">
		لیست سوالات
	</div>
	<div class="list-group" id="problems">
		{% assign problems = paginator.posts | sort: "id" %}
		{% for problem in problems %}
			<a class="list-group-item problem" href="{{ problem.url }}" data-answer="{{ problem.answer }}" data-problem="{{ problem.problemId }}">
			<small class="pull-left solved" style="display:none">
				حل‌شده در: <span class="solvedAt"></span>
			</small>
			{{ problem.problemId }} - {{ problem.title }}
			</a>
		{% endfor %}
		
		  {% if paginator.total_pages > 1 %}
		<div class="pagination">
		  {% if paginator.previous_page %}
			<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; قبلی</a>
		  {% else %}
			<span>&laquo; قبلی</span>
		  {% endif %}

		  {% for page in (1..paginator.total_pages) %}
			{% if page == paginator.page %}
			  <em>{{ page }}</em>
			{% elsif page == 1 %}
			  <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
			{% else %}
			  <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
			{% endif %}
		  {% endfor %}

		  {% if paginator.next_page %}
			<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">بعدی &raquo;</a>
		  {% else %}
			<span>بعدی &raquo;</span>
		  {% endif %}
		</div>
		{% endif %}
	</div>
</div>