---
layout: global
title: لیست سوالات
---
<div class="panel panel-default">
	<div class="panel-heading">
		لیست سوالات
	</div>
	<div class="list-group" id="problems">
		{% assign problems = site.posts | sort: "id" %}
		{% for problem in problems %}
			<a class="list-group-item problem" href="{{ problem.url }}" data-answer="{{ problem.answer }}" data-problem="{{ problem.problemId }}">
			<small class="pull-left solved" style="display:none">
				حل‌شده در: <span class="solvedAt"></span>
			</small>
			<strong>{{ problem.problemId }} -</strong> {{ problem.title }}
			{% if problem.difficulty > 0 %}
				<div class="progress problemDifficulty" data-toggle="tooltip" data-placement="left" title="دشواری: {{ problem.difficulty }}%">
				  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ problem.difficulty }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ problem.difficulty }}%">
					<span class="sr-only">دشواری: {{ problem.difficulty }}%</span>
				  </div>
				</div>
			{% endif %}
			</a>
		{% endfor %}
	</div>
</div>