::selection{
	background: rgba(255, 200, 0, 0.4);
}

::-moz-selection {
	background: rgba(255, 200, 0, 0.4);
}

@font-face {
	font-family: 'Yekan';
	src: url('BYekan.eot');
	src: url('BYekan.eot#iefix') format('embedded-opentype'),
	url('BYekan.woff') format('woff'),
	url('BYekan.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


body {
	font-family: 'Open Sans', Yekan, Tahoma;
	padding-top: 10px;
	font-size: 15px;
}

#content th {
	font-size: 16px;
}

#content td {
	padding: 4px;
	font-size: 14px;
	vertical-align: middle;
}

.zeroclipboard-is-hover.copy {
	color: #fff;
	background-color: #c9302c;
	border-color: #ac2925;
	cursor: pointer;
}

object {
	cursor: pointer;
}

.themename a {
	font-weight: 600;
	color: #d44950;
}

#copieds {
	position: fixed;
	z-index: 10000;
	top: 30px;
	right: 30px;
}

.copied {
	border-radius: 4px;
	background: rgba(0, 0, 0, 0.7);
	padding: 20px 10px;
	color: #fff;
	color: 20px;
	margin: 5px 0;
	width: 270px;
}

#search {
	width: 200px;
}

@media(max-width: 768px)
{
	#search {
		width:100%;
	}
}

table#content thead tr .header:after {
	float: right;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\2212";
	display:inline-block;
	vertical-align: middle;
	margin-top:4px;
	cursor: pointer;
	color: #666;
}

table#content thead tr .header.nosort:after {
	display: none!important;
}

table#content thead tr .headerSortUp:after {
	content: "\e113";
}
table#content thead tr .headerSortDown:after {
	content: "\e114";
}

footer {
	font-size: 11px;
	border-top: 1px solid #eee;
	padding: 5px 0;
}

.themeurl {
	font-size: 11px!important;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	min-width: 100px;
}

.dir-ltr {
	direction: ltr;
}


/* RTL */
html[dir=rtl] .table th,
html[dir=rtl] .table td {
	text-align: right;
}

html[dir=rtl] table#content thead tr .header:after {
	float: left;
}

html[dir=rtl] #copieds {
	right: auto;
	left: 30px;
}

html[dir=rtl] .navbar-brand {
	float: right;
}

@media (min-width: 768px)
{
	html[dir=rtl] .navbar-header, html[dir=rtl] .navbar-nav {
		float: right;
		padding-right: 0;
		padding-right: 10px;
	}
	
	html[dir=rtl] .navbar-left {
		margin-left: -15px;
	}
}