html,
body {
  min-height: 100%;
}
.humane,
.humane-flatty {
  position: fixed;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  z-index: 100000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
.humane,
.humane-flatty {
  font-family: Helvetica Neue, Helvetica, san-serif;
  font-size: 16px;
  top: 0;
  left: 30%;
  opacity: 0;
  width: 40%;
  color: #444;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  -moz-transform: translateY(-100px);
  -webkit-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  -o-transform: translateY(-100px);
  transform: translateY(-100px);
}
.humane p,
.humane-flatty p,
.humane ul,
.humane-flatty ul {
  margin: 0;
  padding: 0;
}
.humane ul,
.humane-flatty ul {
  list-style: none;
}
.humane.humane-flatty-info,
.humane-flatty.humane-flatty-info {
  background-color: #3498db;
  color: #FFF;
}
.humane.humane-flatty-success,
.humane-flatty.humane-flatty-success {
  background-color: #18bc9c;
  color: #FFF;
}
.humane.humane-flatty-error,
.humane-flatty.humane-flatty-error {
  background-color: #e74c3c;
  color: #FFF;
}
.humane-animate,
.humane-flatty.humane-flatty-animate {
  opacity: 1;
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.humane-animate:hover,
.humane-flatty.humane-flatty-animate:hover {
  opacity: 0.7;
}
.humane-js-animate,
.humane-flatty.humane-flatty-js-animate {
  opacity: 1;
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.humane-js-animate:hover,
.humane-flatty.humane-flatty-js-animate:hover {
  opacity: 0.7;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
}


::selection{
	background: rgba(255, 200, 0, 0.4);
}

::-moz-selection {
	background: rgba(255, 200, 0, 0.4);
}

@font-face {
	font-family: 'Yekan';
	src: url('BYekan.eot');
	src: url('BYekan.eot#iefix') format('embedded-opentype'),
	url('BYekan.woff') format('woff'),
	url('BYekan.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


body {
	font-family: 'Open Sans', Yekan, Tahoma;
	padding-top: 10px;
	font-size: 15px;
}

#content th {
	font-size: 16px;
}

#content td {
	padding: 4px;
	font-size: 14px;
	vertical-align: middle;
}

.zeroclipboard-is-hover.copy {
	color: #fff;
	background-color: #c9302c;
	border-color: #ac2925;
	cursor: pointer;
}

object {
	cursor: pointer;
}

.themename a {
	font-weight: 600;
	color: #d44950;
}

#copieds {
	position: fixed;
	z-index: 10000;
	top: 30px;
	right: 30px;
}

.copied {
	border-radius: 4px;
	background: rgba(0, 0, 0, 0.7);
	padding: 20px 10px;
	color: #fff;
	color: 20px;
	margin: 5px 0;
	width: 270px;
}

#search {
	width: 200px;
}

@media(max-width: 768px)
{
	#search {
		width:100%;
	}
}

table#content thead tr .header:after {
	float: right;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\2212";
	display:inline-block;
	vertical-align: middle;
	margin-top:4px;
	cursor: pointer;
	color: #666;
}

table#content thead tr .header.nosort:after {
	display: none!important;
}

table#content thead tr .headerSortUp:after {
	content: "\e113";
}
table#content thead tr .headerSortDown:after {
	content: "\e114";
}

footer {
	font-size: 11px;
	border-top: 1px solid #eee;
	padding: 5px 0;
}

.themeurl {
	font-size: 11px!important;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	min-width: 100px;
}

.dir-ltr {
	direction: ltr;
}


/* RTL */
html[dir=rtl] .table th,
html[dir=rtl] .table td {
	text-align: right;
}

html[dir=rtl] table#content thead tr .header:after {
	float: left;
}

html[dir=rtl] #copieds {
	right: auto;
	left: 30px;
}

html[dir=rtl] .navbar-brand {
	float: right;
}

@media (min-width: 768px)
{
	html[dir=rtl] .navbar-header, html[dir=rtl] .navbar-nav {
		float: right;
		padding-right: 0;
		padding-right: 10px;
	}
	
	html[dir=rtl] .navbar-left {
		margin-left: -15px;
	}
}